web/WEB-INF/wsdl/priscus.vianca.mx_8096/ServiciosWeb/CalculadoraService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Math/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Math/">

<xs:element name="arcocoseno" type="tns:arcocoseno" />

<xs:element name="arcocosenoResponse" type="tns:arcocosenoResponse" />

<xs:element name="arcoseno" type="tns:arcoseno" />

<xs:element name="arcosenoResponse" type="tns:arcosenoResponse" />

<xs:element name="arcotangente" type="tns:arcotangente" />

<xs:element name="arcotangenteResponse" type="tns:arcotangenteResponse" />

<xs:element name="coseno" type="tns:coseno" />

<xs:element name="cosenoResponse" type="tns:cosenoResponse" />

<xs:element name="division" type="tns:division" />

<xs:element name="divisionEntera" type="tns:divisionEntera" />

<xs:element name="divisionEnteraResponse" type="tns:divisionEnteraResponse" />

<xs:element name="divisionResponse" type="tns:divisionResponse" />

<xs:element name="factorial" type="tns:factorial" />

<xs:element name="factorialResponse" type="tns:factorialResponse" />

<xs:element name="multiplicacion" type="tns:multiplicacion" />

<xs:element name="multiplicacionResponse" type="tns:multiplicacionResponse" />

<xs:element name="potencia" type="tns:potencia" />

<xs:element name="potenciaResponse" type="tns:potenciaResponse" />

<xs:element name="raizCuadrada" type="tns:raizCuadrada" />

<xs:element name="raizCuadradaResponse" type="tns:raizCuadradaResponse" />

<xs:element name="residuo" type="tns:residuo" />

<xs:element name="residuoResponse" type="tns:residuoResponse" />

<xs:element name="resta" type="tns:resta" />

<xs:element name="restaResponse" type="tns:restaResponse" />

<xs:element name="seno" type="tns:seno" />

<xs:element name="senoResponse" type="tns:senoResponse" />

<xs:element name="suma" type="tns:suma" />

<xs:element name="sumaResponse" type="tns:sumaResponse" />

<xs:element name="tangente" type="tns:tangente" />

<xs:element name="tangenteResponse" type="tns:tangenteResponse" />

<xs:complexType name="tangente">
<xs:sequence>
<xs:element name="arg0" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="tangenteResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="arcotangente">
<xs:sequence>
<xs:element name="arg0" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="arcotangenteResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="division">
<xs:sequence>
<xs:element name="arg0" type="xs:double" />
<xs:element name="arg1" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="divisionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="residuo">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
<xs:element name="arg1" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="residuoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="potencia">
<xs:sequence>
<xs:element name="arg0" type="xs:double" />
<xs:element name="arg1" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="potenciaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="coseno">
<xs:sequence>
<xs:element name="arg0" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cosenoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="resta">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
<xs:element name="arg1" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="restaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="seno">
<xs:sequence>
<xs:element name="arg0" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="senoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="divisionEntera">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
<xs:element name="arg1" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="divisionEnteraResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="factorial">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="factorialResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="raizCuadrada">
<xs:sequence>
<xs:element name="arg0" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="raizCuadradaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="suma">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
<xs:element name="arg1" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplicacion">
<xs:sequence>
<xs:element name="arg0" type="xs:double" />
<xs:element name="arg1" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplicacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="arcoseno">
<xs:sequence>
<xs:element name="arg0" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="arcosenoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="arcocoseno">
<xs:sequence>
<xs:element name="arg0" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="arcocosenoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>
</xs:schema>