src/conf/xml-resources/web-service-references/CalculadoraService/wsdl/priscus.vianca.mx_8096/ServiciosWeb/CalculadoraService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Math/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Math/" name="CalculadoraService">
<types>
<xsd:schema>
<xsd:import namespace="http://Math/" schemaLocation="http://priscus.vianca.mx:8096/ServiciosWeb/CalculadoraService?xsd=1" />
</xsd:schema>
</types>
<message name="resta">
<part name="parameters" element="tns:resta" />
</message>
<message name="restaResponse">
<part name="parameters" element="tns:restaResponse" />
</message>
<message name="multiplicacion">
<part name="parameters" element="tns:multiplicacion" />
</message>
<message name="multiplicacionResponse">
<part name="parameters" element="tns:multiplicacionResponse" />
</message>
<message name="division">
<part name="parameters" element="tns:division" />
</message>
<message name="divisionResponse">
<part name="parameters" element="tns:divisionResponse" />
</message>
<message name="divisionEntera">
<part name="parameters" element="tns:divisionEntera" />
</message>
<message name="divisionEnteraResponse">
<part name="parameters" element="tns:divisionEnteraResponse" />
</message>
<message name="residuo">
<part name="parameters" element="tns:residuo" />
</message>
<message name="residuoResponse">
<part name="parameters" element="tns:residuoResponse" />
</message>
<message name="potencia">
<part name="parameters" element="tns:potencia" />
</message>
<message name="potenciaResponse">
<part name="parameters" element="tns:potenciaResponse" />
</message>
<message name="raizCuadrada">
<part name="parameters" element="tns:raizCuadrada" />
</message>
<message name="raizCuadradaResponse">
<part name="parameters" element="tns:raizCuadradaResponse" />
</message>
<message name="suma">
<part name="parameters" element="tns:suma" />
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse" />
</message>
<message name="factorial">
<part name="parameters" element="tns:factorial" />
</message>
<message name="factorialResponse">
<part name="parameters" element="tns:factorialResponse" />
</message>
<message name="seno">
<part name="parameters" element="tns:seno" />
</message>
<message name="senoResponse">
<part name="parameters" element="tns:senoResponse" />
</message>
<message name="coseno">
<part name="parameters" element="tns:coseno" />
</message>
<message name="cosenoResponse">
<part name="parameters" element="tns:cosenoResponse" />
</message>
<message name="tangente">
<part name="parameters" element="tns:tangente" />
</message>
<message name="tangenteResponse">
<part name="parameters" element="tns:tangenteResponse" />
</message>
<message name="arcoseno">
<part name="parameters" element="tns:arcoseno" />
</message>
<message name="arcosenoResponse">
<part name="parameters" element="tns:arcosenoResponse" />
</message>
<message name="arcocoseno">
<part name="parameters" element="tns:arcocoseno" />
</message>
<message name="arcocosenoResponse">
<part name="parameters" element="tns:arcocosenoResponse" />
</message>
<message name="arcotangente">
<part name="parameters" element="tns:arcotangente" />
</message>
<message name="arcotangenteResponse">
<part name="parameters" element="tns:arcotangenteResponse" />
</message>
<portType name="CalculadoraService">
<operation name="resta">
<input wsam:Action="http://Math/CalculadoraService/restaRequest" message="tns:resta" />
<output wsam:Action="http://Math/CalculadoraService/restaResponse" message="tns:restaResponse" />
</operation>
<operation name="multiplicacion">
<input wsam:Action="http://Math/CalculadoraService/multiplicacionRequest" message="tns:multiplicacion" />
<output wsam:Action="http://Math/CalculadoraService/multiplicacionResponse" message="tns:multiplicacionResponse" />
</operation>
<operation name="division">
<input wsam:Action="http://Math/CalculadoraService/divisionRequest" message="tns:division" />
<output wsam:Action="http://Math/CalculadoraService/divisionResponse" message="tns:divisionResponse" />
</operation>
<operation name="divisionEntera">
<input wsam:Action="http://Math/CalculadoraService/divisionEnteraRequest" message="tns:divisionEntera" />
<output wsam:Action="http://Math/CalculadoraService/divisionEnteraResponse" message="tns:divisionEnteraResponse" />
</operation>
<operation name="residuo">
<input wsam:Action="http://Math/CalculadoraService/residuoRequest" message="tns:residuo" />
<output wsam:Action="http://Math/CalculadoraService/residuoResponse" message="tns:residuoResponse" />
</operation>
<operation name="potencia">
<input wsam:Action="http://Math/CalculadoraService/potenciaRequest" message="tns:potencia" />
<output wsam:Action="http://Math/CalculadoraService/potenciaResponse" message="tns:potenciaResponse" />
</operation>
<operation name="raizCuadrada">
<input wsam:Action="http://Math/CalculadoraService/raizCuadradaRequest" message="tns:raizCuadrada" />
<output wsam:Action="http://Math/CalculadoraService/raizCuadradaResponse" message="tns:raizCuadradaResponse" />
</operation>
<operation name="suma">
<input wsam:Action="http://Math/CalculadoraService/sumaRequest" message="tns:suma" />
<output wsam:Action="http://Math/CalculadoraService/sumaResponse" message="tns:sumaResponse" />
</operation>
<operation name="factorial">
<input wsam:Action="http://Math/CalculadoraService/factorialRequest" message="tns:factorial" />
<output wsam:Action="http://Math/CalculadoraService/factorialResponse" message="tns:factorialResponse" />
</operation>
<operation name="seno">
<input wsam:Action="http://Math/CalculadoraService/senoRequest" message="tns:seno" />
<output wsam:Action="http://Math/CalculadoraService/senoResponse" message="tns:senoResponse" />
</operation>
<operation name="coseno">
<input wsam:Action="http://Math/CalculadoraService/cosenoRequest" message="tns:coseno" />
<output wsam:Action="http://Math/CalculadoraService/cosenoResponse" message="tns:cosenoResponse" />
</operation>
<operation name="tangente">
<input wsam:Action="http://Math/CalculadoraService/tangenteRequest" message="tns:tangente" />
<output wsam:Action="http://Math/CalculadoraService/tangenteResponse" message="tns:tangenteResponse" />
</operation>
<operation name="arcoseno">
<input wsam:Action="http://Math/CalculadoraService/arcosenoRequest" message="tns:arcoseno" />
<output wsam:Action="http://Math/CalculadoraService/arcosenoResponse" message="tns:arcosenoResponse" />
</operation>
<operation name="arcocoseno">
<input wsam:Action="http://Math/CalculadoraService/arcocosenoRequest" message="tns:arcocoseno" />
<output wsam:Action="http://Math/CalculadoraService/arcocosenoResponse" message="tns:arcocosenoResponse" />
</operation>
<operation name="arcotangente">
<input wsam:Action="http://Math/CalculadoraService/arcotangenteRequest" message="tns:arcotangente" />
<output wsam:Action="http://Math/CalculadoraService/arcotangenteResponse" message="tns:arcotangenteResponse" />
</operation>
</portType>
<binding name="CalculadoraServicePortBinding" type="tns:CalculadoraService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="resta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="multiplicacion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="division">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="divisionEntera">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="residuo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="potencia">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="raizCuadrada">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="suma">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="factorial">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="seno">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="coseno">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="tangente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="arcoseno">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="arcocoseno">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="arcotangente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="CalculadoraService">
<port name="CalculadoraServicePort" binding="tns:CalculadoraServicePortBinding">
<soap:address location="http://priscus.vianca.mx:8096/ServiciosWeb/CalculadoraService" />
</port>
</service>
</definitions>